.h-10 {
    height: 10rem;
    object-fit: cover;
}

.h-20 {
    height: 20rem;
    object-fit: cover;
}

.play-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }

.play-btn:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

.card-body {
    transition: all 0.3s ease 0s;
}

.card-body:hover {
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.card-img-top {
    transition: all 0.3s ease 0s;
}

.card-img-top:hover {
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

footer .container-fluid{
    padding-top: 3px;
}